<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.flyrui.infoshare.manage.dao.mapper.InfoManageMapper" >
  <resultMap id="BaseResultMap" type="com.flyrui.infoshare.manage.pojo.InfoManage" >
    	<result column="manage_id" property="manage_id" jdbcType="VARCHAR" />
    	<result column="seq" property="seq" jdbcType="INTEGER" />
    	<result column="manange_type" property="manange_type" jdbcType="VARCHAR" />
    	<result column="titile" property="titile" jdbcType="VARCHAR" />
    	<result column="content" property="content" jdbcType="VARCHAR" />
    	<result column="eff_date" property="eff_date" jdbcType="TIMESTAMP" />
    	<result column="exp_date" property="exp_date" jdbcType="TIMESTAMP" />
    	<result column="state" property="state" jdbcType="VARCHAR" />
    	<result column="create_date" property="create_date" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    	manage_id,
    	seq,
    	manange_type,
    	titile,
    	content,
    	eff_date,
    	exp_date,
    	state,
    	create_date
  </sql>
  <sql id="Base_Where_Clause" >
    <where >
	    	<if test="manage_id != null  and manage_id != '' " >
        		and manage_id = #{manage_id,jdbcType=VARCHAR}
     		</if>
	    	<if test="(seq != null  and seq != '') or seq == 0  " >
        		and seq = #{seq,jdbcType=INTEGER}
     		</if>
	    	<if test="manange_type != null  and manange_type != '' " >
        		and manange_type = #{manange_type,jdbcType=VARCHAR}
     		</if>
	    	<if test="titile != null  and titile != '' " >
        		and titile like #{titile,jdbcType=VARCHAR}
     		</if>
	    	<if test="content != null  and content != '' " >
        		and content = #{content,jdbcType=VARCHAR}
     		</if>
	    	<if test="eff_date != null " >
        		and eff_date = #{eff_date,jdbcType=TIMESTAMP}
     		</if>
	    	<if test="exp_date != null " >
        		and exp_date = #{exp_date,jdbcType=TIMESTAMP}
     		</if>
	    	<if test="state != null  and state != '' " >
        		and state = #{state,jdbcType=VARCHAR}
     		</if>
	    	<if test="create_date != null " >
        		and create_date = #{create_date,jdbcType=TIMESTAMP}
     		</if>
     		<if test="create_date_start != null and create_date_start != '' " >
        		and create_date &gt;= str_to_date(#{create_date_start,jdbcType=VARCHAR},'%Y-%m-%d')
     		</if>
     		<if test="create_date_end != null and create_date_end != '' " >
        		and create_date &lt;= str_to_date(#{create_date_end,jdbcType=VARCHAR},'%Y-%m-%d')
     		</if>
    </where>
  </sql>
  <select id="select" resultMap="BaseResultMap" parameterType="com.flyrui.infoshare.manage.pojo.InfoManage" >
    select    
    <include refid="Base_Column_List" />
    from info_manage
    <if test="_parameter != null" >
      <include refid="Base_Where_Clause" />
    </if>
  </select>
  
  <delete id="delete" parameterType="com.flyrui.infoshare.manage.pojo.InfoManage" >
    delete from info_manage
    <if test="_parameter != null" >
      <include refid="Base_Where_Clause" />
    </if>
  </delete>
  
  <insert id="insert" parameterType="com.flyrui.infoshare.manage.pojo.InfoManage" >
    insert into info_manage ( <include refid="Base_Column_List" />)
    values (	    	
        	  #{manage_id,jdbcType=VARCHAR},     		
	    	    	
        	  #{seq,jdbcType=INTEGER},     		
	    	    	
        	  #{manange_type,jdbcType=VARCHAR},     		
	    	    	
        	  #{titile,jdbcType=VARCHAR},     		
	    	    	
        	  #{content,jdbcType=VARCHAR},     		
	    	    	
        	  #{eff_date,jdbcType=TIMESTAMP},     		
	    	    	
        	  #{exp_date,jdbcType=TIMESTAMP},     		
	    	    	
        	  #{state,jdbcType=VARCHAR},     		
	    	    	
        	  #{create_date,jdbcType=TIMESTAMP}     		
	    )
  </insert>
  
  <update id="update" parameterType="com.flyrui.infoshare.manage.pojo.InfoManage">
    update info_manage
    set
   		
   		<if test="(seq != null  and seq != '') or seq == 0 " >
      		seq = #{seq,jdbcType=INTEGER},
   		</if>
   		<if test="manange_type != null  and manange_type != '' " >
      		manange_type = #{manange_type,jdbcType=VARCHAR},
   		</if>
   		<if test="titile != null  and titile != '' " >
      		titile = #{titile,jdbcType=VARCHAR},
   		</if>
   		<if test="content != null  and content != '' " >
      		content = #{content,jdbcType=VARCHAR},
   		</if>
   		<if test="eff_date != null " >
      		eff_date = #{eff_date,jdbcType=TIMESTAMP},
   		</if>
   		<if test="exp_date != null " >
      		exp_date = #{exp_date,jdbcType=TIMESTAMP},
   		</if>
   		<if test="state != null  and state != '' " >
      		state = #{state,jdbcType=VARCHAR},
   		</if>
   		<if test="create_date != null " >
      		create_date = #{create_date,jdbcType=TIMESTAMP},
   		</if>
   		<if test="manage_id != null  and manage_id != '' " >
      		manage_id = #{manage_id,jdbcType=VARCHAR}
   		</if>
    <if test="_parameter != null" >
      <include refid="Base_Where_Clause" />
    </if>
    
  </update>
  <select id="queryMaxSeq" resultMap="BaseResultMap" parameterType="com.flyrui.infoshare.manage.pojo.InfoManage" >
    select  max(seq) as seq  from info_manage where manage_id = #{manage_id,jdbcType=VARCHAR}
  </select>
   <insert id="bakOldRecord" parameterType="com.flyrui.infoshare.manage.pojo.InfoManage" >
     insert into info_manage ( <include refid="Base_Column_List" />)
     select manage_id,
    	#{seq,jdbcType=VARCHAR},
    	manange_type,
    	titile,
    	content,
    	eff_date,
    	exp_date,'0',now()
     from info_manage where manage_id = #{manage_id,jdbcType=VARCHAR} and seq = 0 
  </insert>
</mapper>