<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.flyrui.infoshare.meeting.dao.mapper.InfoMeetingMapper" >
  <resultMap id="BaseResultMap" type="com.flyrui.infoshare.meeting.pojo.InfoMeeting" >
    	<result column="id" property="id" jdbcType="VARCHAR" />
    	<result column="seq" property="seq" jdbcType="INTEGER" />
    	<result column="titile" property="titile" jdbcType="VARCHAR" />
    	<result column="content" property="content" jdbcType="VARCHAR" />
    	<result column="meeting_date" property="meeting_date" jdbcType="TIMESTAMP" />
    	<result column="peoples" property="peoples" jdbcType="VARCHAR" />
    	<result column="state" property="state" jdbcType="VARCHAR" />
    	<result column="create_date" property="create_date" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    	id,
    	seq,
    	titile,
    	content,
    	meeting_date,
    	peoples,
    	state,
    	create_date
  </sql>
  <sql id="Base_Where_Clause" >
    <where >
	    	<if test="id != null  and id != '' " >
        		and id = #{id,jdbcType=VARCHAR}
     		</if>
	    	<if test="seq != null  and seq != '' " >
        		and seq = #{seq,jdbcType=INTEGER}
     		</if>
	    	<if test="titile != null  and titile != '' " >
        		and titile = #{titile,jdbcType=VARCHAR}
     		</if>
	    	<if test="content != null  and content != '' " >
        		and content = #{content,jdbcType=VARCHAR}
     		</if>
	    	<if test="meeting_date != null " >
        		and meeting_date = #{meeting_date,jdbcType=TIMESTAMP}
     		</if>
	    	<if test="peoples != null  and peoples != '' " >
        		and peoples = #{peoples,jdbcType=VARCHAR}
     		</if>
	    	<if test="state != null  and state != '' " >
        		and state = #{state,jdbcType=VARCHAR}
     		</if>
	    	<if test="create_date != null " >
        		and create_date = #{create_date,jdbcType=TIMESTAMP}
     		</if>
    </where>
  </sql>
  <select id="select" resultMap="BaseResultMap" parameterType="com.flyrui.infoshare.meeting.pojo.InfoMeeting" >
    select    
    <include refid="Base_Column_List" />
    from info_meeting
    <if test="_parameter != null" >
      <include refid="Base_Where_Clause" />
    </if>
  </select>
  
  <delete id="delete" parameterType="com.flyrui.infoshare.meeting.pojo.InfoMeeting" >
    delete from info_meeting
    <if test="_parameter != null" >
      <include refid="Base_Where_Clause" />
    </if>
  </delete>
  
  <insert id="insert" parameterType="com.flyrui.infoshare.meeting.pojo.InfoMeeting" >
    insert into info_meeting ( <include refid="Base_Column_List" />)
    values (	    	
        	  #{id,jdbcType=VARCHAR},     		
	    	    	
        	  #{seq,jdbcType=INTEGER},     		
	    	    	
        	  #{titile,jdbcType=VARCHAR},     		
	    	    	
        	  #{content,jdbcType=VARCHAR},     		
	    	    	
        	  #{meeting_date,jdbcType=TIMESTAMP},     		
	    	    	
        	  #{peoples,jdbcType=VARCHAR},     		
	    	    	
        	  #{state,jdbcType=VARCHAR},     		
	    	    	
        	  #{create_date,jdbcType=TIMESTAMP}     		
	    )
  </insert>
  
  <update id="update" parameterType="com.flyrui.infoshare.meeting.pojo.InfoMeeting">
    update info_meeting
    set
   		<if test="id != null  and id != '' " >
      		id = #{id,jdbcType=VARCHAR},
   		</if>
   		<if test="seq != null  and seq != '' " >
      		seq = #{seq,jdbcType=INTEGER},
   		</if>
   		<if test="titile != null  and titile != '' " >
      		titile = #{titile,jdbcType=VARCHAR},
   		</if>
   		<if test="content != null  and content != '' " >
      		content = #{content,jdbcType=VARCHAR},
   		</if>
   		<if test="meeting_date != null " >
      		meeting_date = #{meeting_date,jdbcType=TIMESTAMP},
   		</if>
   		<if test="peoples != null  and peoples != '' " >
      		peoples = #{peoples,jdbcType=VARCHAR},
   		</if>
   		<if test="state != null  and state != '' " >
      		state = #{state,jdbcType=VARCHAR},
   		</if>
   		<if test="create_date != null " >
      		create_date = #{create_date,jdbcType=TIMESTAMP}
   		</if>
    <if test="_parameter != null" >
      <include refid="Base_Where_Clause" />
    </if>
    
  </update>
</mapper>