<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.flyrui.goods.dao.mapper.GoodsMapper" >
  <resultMap id="BaseResultMap" type="com.flyrui.goods.pojo.Goods" >
    	<result column="goods_id" property="goods_id" jdbcType="VARCHAR" />
    	<result column="catalog_id" property="catalog_id" jdbcType="VARCHAR" />
    	<result column="goods_name" property="goods_name" jdbcType="VARCHAR" />
    	<result column="goods_alias" property="goods_alias" jdbcType="VARCHAR" />
    	<result column="state" property="state" jdbcType="VARCHAR" />
    	<result column="eff_date" property="eff_date" jdbcType="TIMESTAMP" />
    	<result column="exp_date" property="exp_date" jdbcType="TIMESTAMP" />
    	<result column="goods_type" property="goods_type" jdbcType="VARCHAR" />
    	<result column="goods_amount" property="goods_amount" jdbcType="INTEGER" />
    	<result column="goods_price" property="goods_price" jdbcType="DOUBLE" />
    	<result column="goods_market_price" property="goods_market_price" jdbcType="DOUBLE" />
    	<result column="pay_type" property="pay_type" jdbcType="VARCHAR" />
    	<result column="goods_desc" property="goods_desc" jdbcType="VARCHAR" />
    	<result column="icon_url" property="icon_url" jdbcType="VARCHAR" />
    	<result column="pic_url" property="pic_url" jdbcType="VARCHAR" />
    	<result column="create_date" property="create_date" jdbcType="TIMESTAMP" />
    	<result column="state_date" property="state_date" jdbcType="TIMESTAMP" />
    	<result column="create_user_id" property="create_user_id" jdbcType="VARCHAR" />
    	<result column="order_id" property="order_id" jdbcType="INTEGER" />
    	<result column="goods_title" property="goods_title" jdbcType="VARCHAR" />
    	<result column="goods_keywords" property="goods_keywords" jdbcType="VARCHAR" />
    	<result column="goods_descriptions" property="goods_descriptions" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    	goods_id,
    	catalog_id,
    	goods_name,
    	goods_alias,
    	state,
    	eff_date,
    	exp_date,
    	goods_type,
    	goods_amount,
    	goods_price,
    	goods_market_price,
    	pay_type,
    	goods_desc,
    	icon_url,
    	pic_url,
    	create_date,
    	state_date,
    	create_user_id,
    	order_id,
    	goods_title,
    	goods_keywords,
    	goods_descriptions
  </sql>
  <sql id="Base_Where_Clause" >
    <where >
	    	<if test="goods_id != null  and goods_id != '' " >
        		and goods_id = #{goods_id,jdbcType=VARCHAR}
     		</if>
	    	<if test="catalog_id != null  and catalog_id != '' " >
        		and catalog_id = #{catalog_id,jdbcType=VARCHAR}
     		</if>
	    	<if test="goods_name != null  and goods_name != '' " >
        		and goods_name = #{goods_name,jdbcType=VARCHAR}
     		</if>
	    	<if test="goods_alias != null  and goods_alias != '' " >
        		and goods_alias = #{goods_alias,jdbcType=VARCHAR}
     		</if>
	    	<if test="state != null  and state != '' " >
        		and state = #{state,jdbcType=VARCHAR}
     		</if>
	    	<if test="eff_date != null " >
        		and eff_date &lt;= #{eff_date,jdbcType=TIMESTAMP}
     		</if>
	    	<if test="exp_date != null " >
        		and exp_date &gt;= #{exp_date,jdbcType=TIMESTAMP}
     		</if>
	    	<if test="goods_type != null  and goods_type != '' " >
        		and goods_type = #{goods_type,jdbcType=VARCHAR}
     		</if>
	    	<if test="goods_amount != null  and goods_amount != '' " >
        		and goods_amount = #{goods_amount,jdbcType=INTEGER}
     		</if>
	    	<if test="goods_price != null  and goods_price != '' " >
        		and goods_price = #{goods_price,jdbcType=DOUBLE}
     		</if>
	    	<if test="goods_market_price != null  and goods_market_price != '' " >
        		and goods_market_price = #{goods_market_price,jdbcType=DOUBLE}
     		</if>
	    	<if test="pay_type != null  and pay_type != '' " >
        		and pay_type = #{pay_type,jdbcType=VARCHAR}
     		</if>
	    	<if test="goods_desc != null  and goods_desc != '' " >
        		and goods_desc = #{goods_desc,jdbcType=VARCHAR}
     		</if>
	    	<if test="icon_url != null  and icon_url != '' " >
        		and icon_url = #{icon_url,jdbcType=VARCHAR}
     		</if>
	    	<if test="pic_url != null  and pic_url != '' " >
        		and pic_url = #{pic_url,jdbcType=VARCHAR}
     		</if>
	    	<if test="create_date != null " >
        		and create_date = #{create_date,jdbcType=TIMESTAMP}
     		</if>
	    	<if test="state_date != null " >
        		and state_date = #{state_date,jdbcType=TIMESTAMP}
     		</if>
	    	<if test="create_user_id != null  and create_user_id != '' " >
        		and create_user_id = #{create_user_id,jdbcType=VARCHAR}
     		</if>
	    	<if test="order_id != null  and order_id != '' " >
        		and order_id = #{order_id,jdbcType=INTEGER}
     		</if>
	    	<if test="goods_title != null  and goods_title != '' " >
        		and goods_title = #{goods_title,jdbcType=VARCHAR}
     		</if>
	    	<if test="goods_keywords != null  and goods_keywords != '' " >
        		and goods_keywords = #{goods_keywords,jdbcType=VARCHAR}
     		</if>
	    	<if test="goods_descriptions != null  and goods_descriptions != '' " >
        		and goods_descriptions = #{goods_descriptions,jdbcType=VARCHAR}
     		</if>
    </where>
  </sql>
  <select id="select" resultMap="BaseResultMap" parameterType="com.flyrui.goods.pojo.Goods" >
    select    
    <include refid="Base_Column_List" />
    from goods
    <if test="_parameter != null" >
      <include refid="Base_Where_Clause" />
    </if>
  </select>
  
  <delete id="delete" parameterType="com.flyrui.goods.pojo.Goods" >
    delete from goods
    <if test="_parameter != null" >
      <include refid="Base_Where_Clause" />
    </if>
  </delete>
  
  <insert id="insert" parameterType="com.flyrui.goods.pojo.Goods" >
    insert into goods ( <include refid="Base_Column_List" />)
    values (	    	
        	  #{goods_id,jdbcType=VARCHAR},     		
	    	    	
        	  #{catalog_id,jdbcType=VARCHAR},     		
	    	    	
        	  #{goods_name,jdbcType=VARCHAR},     		
	    	    	
        	  #{goods_alias,jdbcType=VARCHAR},     		
	    	    	
        	  #{state,jdbcType=VARCHAR},     		
	    	    	
        	  #{eff_date,jdbcType=TIMESTAMP},     		
	    	    	
        	  #{exp_date,jdbcType=TIMESTAMP},     		
	    	    	
        	  #{goods_type,jdbcType=VARCHAR},     		
	    	    	
        	  #{goods_amount,jdbcType=INTEGER},     		
	    	    	
        	  #{goods_price,jdbcType=DOUBLE},     		
	    	    	
        	  #{goods_market_price,jdbcType=DOUBLE},     		
	    	    	
        	  #{pay_type,jdbcType=VARCHAR},     		
	    	    	
        	  #{goods_desc,jdbcType=VARCHAR},     		
	    	    	
        	  #{icon_url,jdbcType=VARCHAR},     		
	    	    	
        	  #{pic_url,jdbcType=VARCHAR},     		
	    	    	
        	  #{create_date,jdbcType=TIMESTAMP},     		
	    	    	
        	  #{state_date,jdbcType=TIMESTAMP},     		
	    	    	
        	  #{create_user_id,jdbcType=VARCHAR},     		
	    	    	
        	  #{order_id,jdbcType=INTEGER},     		
	    	    	
        	  #{goods_title,jdbcType=VARCHAR},     		
	    	    	
        	  #{goods_keywords,jdbcType=VARCHAR},     		
	    	    	
        	  #{goods_descriptions,jdbcType=VARCHAR}
	    )
  </insert>
  
  <update id="update" parameterType="com.flyrui.goods.pojo.Goods">
    update goods
    set
   		
   		<if test="catalog_id != null  and catalog_id != '' " >
      		catalog_id = #{catalog_id,jdbcType=VARCHAR},
   		</if>
   		<if test="goods_name != null  and goods_name != '' " >
      		goods_name = #{goods_name,jdbcType=VARCHAR},
   		</if>
   		<if test="goods_alias != null  and goods_alias != '' " >
      		goods_alias = #{goods_alias,jdbcType=VARCHAR},
   		</if>
   		<if test="eff_date != null " >
      		eff_date = #{eff_date,jdbcType=TIMESTAMP},
   		</if>
   		<if test="exp_date != null " >
      		exp_date = #{exp_date,jdbcType=TIMESTAMP},
   		</if>
   		<if test="goods_type != null  and goods_type != '' " >
      		goods_type = #{goods_type,jdbcType=VARCHAR},
   		</if>
   		<if test="goods_amount != null  and goods_amount != '' " >
      		goods_amount = #{goods_amount,jdbcType=INTEGER},
   		</if>
   		<if test="goods_price != null  and goods_price != '' " >
      		goods_price = #{goods_price,jdbcType=DOUBLE},
   		</if>
   		<if test="goods_market_price != null  and goods_market_price != '' " >
      		goods_market_price = #{goods_market_price,jdbcType=DOUBLE},
   		</if>
   		<if test="pay_type != null  and pay_type != '' " >
      		pay_type = #{pay_type,jdbcType=VARCHAR},
   		</if>
   		<if test="goods_desc != null  and goods_desc != '' " >
      		goods_desc = #{goods_desc,jdbcType=VARCHAR},
   		</if>
   		<if test="icon_url != null  and icon_url != '' " >
      		icon_url = #{icon_url,jdbcType=VARCHAR},
   		</if>
   		<if test="pic_url != null  and pic_url != '' " >
      		pic_url = #{pic_url,jdbcType=VARCHAR},
   		</if>
   		<if test="create_date != null " >
      		create_date = #{create_date,jdbcType=TIMESTAMP},
   		</if>
   		<if test="state_date != null " >
      		state_date = #{state_date,jdbcType=TIMESTAMP},
   		</if>
   		<if test="create_user_id != null  and create_user_id != '' " >
      		create_user_id = #{create_user_id,jdbcType=VARCHAR},
   		</if>
   		<if test="order_id != null  and order_id != '' " >
      		order_id = #{order_id,jdbcType=INTEGER},
   		</if>
   		<if test="goods_title != null  and goods_title != '' " >
      		goods_title = #{goods_title,jdbcType=VARCHAR},
   		</if>
   		<if test="goods_keywords != null  and goods_keywords != '' " >
      		goods_keywords = #{goods_keywords,jdbcType=VARCHAR},
   		</if>
   		<if test="goods_descriptions != null  and goods_descriptions != '' " >
      		goods_descriptions = #{goods_descriptions,jdbcType=VARCHAR},
   		</if>
   		<if test="state != null  and state != '' " >
      		state = #{state,jdbcType=VARCHAR},
   		</if>
   		<if test="goods_id != null  and goods_id != '' " >
      		goods_id = #{goods_id,jdbcType=VARCHAR}
   		</if>
    where goods_id = #{goods_id,jdbcType=VARCHAR}
    
  </update>
  <select id="selectGoodsByIdForUpdate" resultMap="BaseResultMap" parameterType="com.flyrui.goods.pojo.Goods" >
    select    
    <include refid="Base_Column_List" />
    from goods
     where goods_id = #{goods_id,jdbcType=VARCHAR}
     <if test="state != null  and state != '' " >
        	and state = #{state,jdbcType=VARCHAR}
   	 </if>
   	 <if test="eff_date != null " >
      		and eff_date &lt;= #{eff_date,jdbcType=TIMESTAMP}
   	 </if>
   	 <if test="exp_date != null " >
      		and exp_date &gt;= #{exp_date,jdbcType=TIMESTAMP}
   	 </if> for update
  </select>
  <parameterMap type="map" id="produreParam">  
   <parameter property="in_id" jdbcType="INTEGER" mode="IN"/>  
   <parameter property="goods_amount" jdbcType="INTEGER" mode="IN"/> 
   <parameter property="type" jdbcType="INTEGER" mode="IN"/> 
 </parameterMap>
  <update id="activeUser" parameterMap="produreParam" statementType="CALLABLE">  
   	{call pro_user_settle(?, ?,?)}  
 </update>
</mapper>