<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.flyrui.goods.dao.mapper.GoodsCatalogMapper" >
  <resultMap id="BaseResultMap" type="com.flyrui.goods.pojo.GoodsCatalog" >
    	<result column="catalog_id" property="catalog_id" jdbcType="VARCHAR" />
    	<result column="catalog_name" property="catalog_name" jdbcType="VARCHAR" />
    	<result column="catalog_desc" property="catalog_desc" jdbcType="VARCHAR" />
    	<result column="state" property="state" jdbcType="VARCHAR" />
    	<result column="create_date" property="create_date" jdbcType="TIMESTAMP" />
    	<result column="create_user_id" property="create_user_id" jdbcType="VARCHAR" />
    	<result column="up_catalog_id" property="up_catalog_id" jdbcType="VARCHAR" />
    	<result column="order_id" property="order_id" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    	catalog_id,
    	catalog_name,
    	catalog_desc,
    	state,
    	create_date,
    	create_user_id,
    	up_catalog_id,
    	order_id
  </sql>
  <sql id="Base_Where_Clause" >
    <where >
	    	<if test="catalog_id != null  and catalog_id != '' " >
        		and catalog_id = #{catalog_id,jdbcType=VARCHAR}
     		</if>
	    	<if test="catalog_name != null  and catalog_name != '' " >
        		and catalog_name = #{catalog_name,jdbcType=VARCHAR}
     		</if>
	    	<if test="catalog_desc != null  and catalog_desc != '' " >
        		and catalog_desc = #{catalog_desc,jdbcType=VARCHAR}
     		</if>
	    	<if test="state != null  and state != '' " >
        		and state = #{state,jdbcType=VARCHAR}
     		</if>
	    	<if test="create_date != null " >
        		and create_date = #{create_date,jdbcType=TIMESTAMP}
     		</if>
	    	<if test="create_user_id != null  and create_user_id != '' " >
        		and create_user_id = #{create_user_id,jdbcType=VARCHAR}
     		</if>
	    	<if test="up_catalog_id != null  and up_catalog_id != '' " >
        		and up_catalog_id = #{up_catalog_id,jdbcType=VARCHAR}
     		</if>
	    	<if test="order_id != null  and order_id != '' " >
        		and order_id = #{order_id,jdbcType=INTEGER}
     		</if>
    </where>
  </sql>
  <select id="select" resultMap="BaseResultMap" parameterType="com.flyrui.goods.pojo.GoodsCatalog" >
    select    
    <include refid="Base_Column_List" />
    from goods_catalog
    <if test="_parameter != null" >
      <include refid="Base_Where_Clause" />
    </if>
  </select>
  
  <delete id="delete" parameterType="com.flyrui.goods.pojo.GoodsCatalog" >
    delete from goods_catalog
    <if test="_parameter != null" >
      <include refid="Base_Where_Clause" />
    </if>
  </delete>
  
  <insert id="insert" parameterType="com.flyrui.goods.pojo.GoodsCatalog" >
    insert into goods_catalog ( <include refid="Base_Column_List" />)
    values (	    	
        	  #{catalog_id,jdbcType=VARCHAR},     		
	    	    	
        	  #{catalog_name,jdbcType=VARCHAR},     		
	    	    	
        	  #{catalog_desc,jdbcType=VARCHAR},     		
	    	    	
        	  #{state,jdbcType=VARCHAR},     		
	    	    	
        	  #{create_date,jdbcType=TIMESTAMP},     		
	    	    	
        	  #{create_user_id,jdbcType=VARCHAR},     		
	    	    	
        	  #{up_catalog_id,jdbcType=VARCHAR},     		
	    	    	
        	  #{order_id,jdbcType=INTEGER}     		
	    )
  </insert>
  
  <update id="update" parameterType="com.flyrui.goods.pojo.GoodsCatalog">
    update goods_catalog
    set
   		<if test="catalog_id != null  and catalog_id != '' " >
      		catalog_id = #{catalog_id,jdbcType=VARCHAR},
   		</if>
   		<if test="catalog_name != null  and catalog_name != '' " >
      		catalog_name = #{catalog_name,jdbcType=VARCHAR},
   		</if>
   		<if test="catalog_desc != null  and catalog_desc != '' " >
      		catalog_desc = #{catalog_desc,jdbcType=VARCHAR},
   		</if>
   		<if test="state != null  and state != '' " >
      		state = #{state,jdbcType=VARCHAR},
   		</if>
   		<if test="create_date != null " >
      		create_date = #{create_date,jdbcType=TIMESTAMP},
   		</if>
   		<if test="create_user_id != null  and create_user_id != '' " >
      		create_user_id = #{create_user_id,jdbcType=VARCHAR},
   		</if>
   		<if test="up_catalog_id != null  and up_catalog_id != '' " >
      		up_catalog_id = #{up_catalog_id,jdbcType=VARCHAR},
   		</if>
   		<if test="order_id != null  and order_id != '' " >
      		order_id = #{order_id,jdbcType=INTEGER}
   		</if>
    <if test="_parameter != null" >
      <include refid="Base_Where_Clause" />
    </if>
    
  </update>
</mapper>