<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.flyrui.financMgmt.dao.mapper.AccoutInfoMapper" >
  <resultMap id="BaseResultMap" type="com.flyrui.financMgmt.pojo.AccoutInfoDto" >
    	<result column="id" property="id" jdbcType="INTEGER" />
    	<result column="user_id" property="user_id" jdbcType="INTEGER" />
    	<result column="bonus_coin" property="bonus_coin" jdbcType="DOUBLE" />
    	<result column="elect_coin" property="elect_coin" jdbcType="DOUBLE" />
    	<result column="reconsmp_coin" property="reconsmp_coin" jdbcType="DOUBLE" />
    	<result column="account_bank" property="account_bank" jdbcType="VARCHAR" />
    	<result column="account_id" property="account_id" jdbcType="VARCHAR" />
    	<result column="account_name" property="account_name" jdbcType="VARCHAR" />
    	<result column="comments" property="comments" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    	id,
    	rela_id,
    	rela_type,
    	file_id,
    	state,
    	create_date
  </sql>
  <sql id="Base_Where_Clause" >
    <where >
	    	<if test="id != null  and id != '' " >
        		and id = #{id,jdbcType=VARCHAR}
     		</if>
	    	<if test="rela_id != null  and rela_id != '' " >
        		and rela_id = #{rela_id,jdbcType=VARCHAR}
     		</if>
	    	<if test="rela_type != null  and rela_type != '' " >
        		and rela_type = #{rela_type,jdbcType=VARCHAR}
     		</if>
	    	<if test="file_id != null  and file_id != '' " >
        		and file_id = #{file_id,jdbcType=VARCHAR}
     		</if>
	    	<if test="state != null  and state != '' " >
        		and state = #{state,jdbcType=VARCHAR}
     		</if>
	    	<if test="create_date != null " >
        		and create_date = #{create_date,jdbcType=TIMESTAMP}
     		</if>
    </where>
  </sql>
  <select id="select" resultMap="BaseResultMap" parameterType="com.flyrui.financMgmt.pojo.AccoutInfoDto" >
    select id,user_id,bonus_coin,elect_coin,reconsmp_coin,account_bank,account_id,account_name,comments
    from accout_info
    where user_id = #{user_id,jdbcType=INTEGER}
  </select>
  
  <select id="queryAccountInfo" resultMap="BaseResultMap" parameterType="com.flyrui.financMgmt.pojo.AccoutInfoDto" >
    select id,user_id,bonus_coin,elect_coin,reconsmp_coin,account_bank,account_id,account_name,comments
    from accout_info
    where user_id = #{user_id,jdbcType=INTEGER}
  </select>
  
  <delete id="delete" parameterType="com.flyrui.financMgmt.pojo.AccoutInfoDto" >
    delete from info_serv_file
    <if test="_parameter != null" >
      <include refid="Base_Where_Clause" />
    </if>
  </delete>
  
  <insert id="insert" parameterType="com.flyrui.financMgmt.pojo.AccoutInfoDto" >
	 insert into `accout_info` ( 
		 `user_id`, 
		 `bonus_coin`, 
		 `elect_coin`, 
		 `reconsmp_coin`, 
		 `account_bank`, 
		 `account_id`, 
		 `account_name`, 
		 `comments`) 
	 values(
	 	#{user_id,jdbcType=INTEGER},
	 	#{bonus_coin,jdbcType=DOUBLE},
	 	#{elect_coin,jdbcType=DOUBLE},
	 	#{reconsmp_coin,jdbcType=DOUBLE},
	 	#{account_bank,jdbcType=VARCHAR},
	 	#{account_id,jdbcType=VARCHAR},
	 	#{account_name,jdbcType=VARCHAR},
	 	#{comments,jdbcType=VARCHAR}
	 )
  </insert>
  
  <update id="update" parameterType="com.flyrui.financMgmt.pojo.AccoutInfoDto">
    update accout_Info
    set
   		<if test="bonus_coin != null  and bonus_coin != '' " >
      		bonus_coin = IFNULL(bonus_coin,0)+#{bonus_coin,jdbcType=DOUBLE},
   		</if>
   		<if test="elect_coin != null  and elect_coin != '' " >
      		elect_coin = IFNULL(elect_coin,0)+#{elect_coin,jdbcType=DOUBLE},
   		</if>
   		<if test="reconsmp_coin != null  and reconsmp_coin != '' " >
      		reconsmp_coin = IFNULL(reconsmp_coin,0)+#{reconsmp_coin,jdbcType=VARCHAR},
   		</if>
   		comments = ''
    where user_id = #{user_id,jdbcType=INTEGER}
  </update>
</mapper>