<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.flyrui.financMgmt.dao.mapper.AccoutInfoMapper" >
  <resultMap id="BaseResultMap" type="com.flyrui.financMgmt.pojo.AccoutInfoDto" >
    	<result column="id" property="id" jdbcType="INTEGER" />
    	<result column="user_id" property="user_id" jdbcType="INTEGER" />
    	<result column="bonus_coin" property="bonus_coin" jdbcType="DOUBLE" />
    	<result column="elect_coin" property="elect_coin" jdbcType="DOUBLE" />
    	<result column="reconsmp_coin" property="reconsmp_coin" jdbcType="DOUBLE" />
    	<result column="account_bank" property="account_bank" jdbcType="VARCHAR" />
    	<result column="account_bank_brc" property="account_bank_brc" jdbcType="VARCHAR" />
    	<result column="account_id" property="account_id" jdbcType="VARCHAR" />
    	<result column="account_name" property="account_name" jdbcType="VARCHAR" />
    	<result column="comments" property="comments" jdbcType="VARCHAR" />
    	<result column="cash_coin" property="cash_coin" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    	id,
    	rela_id,
    	rela_type,
    	file_id,
    	state,
    	create_date
  </sql>
  <sql id="Base_Where_Clause" >
    <where >
	    	<if test="id != null  and id != '' " >
        		and id = #{id,jdbcType=VARCHAR}
     		</if>
	    	<if test="rela_id != null  and rela_id != '' " >
        		and rela_id = #{rela_id,jdbcType=VARCHAR}
     		</if>
	    	<if test="rela_type != null  and rela_type != '' " >
        		and rela_type = #{rela_type,jdbcType=VARCHAR}
     		</if>
	    	<if test="file_id != null  and file_id != '' " >
        		and file_id = #{file_id,jdbcType=VARCHAR}
     		</if>
	    	<if test="state != null  and state != '' " >
        		and state = #{state,jdbcType=VARCHAR}
     		</if>
	    	<if test="create_date != null " >
        		and create_date = #{create_date,jdbcType=TIMESTAMP}
     		</if>
    </where>
  </sql>
  <select id="select" resultMap="BaseResultMap" parameterType="com.flyrui.financMgmt.pojo.AccoutInfoDto" >
    select id,user_id,bonus_coin,elect_coin,reconsmp_coin,account_bank,account_id,account_name,comments,cash_coin
    from accout_info
    where user_id = #{user_id,jdbcType=INTEGER}
  </select>
  
  <select id="queryAccountInfo" resultMap="BaseResultMap" parameterType="com.flyrui.financMgmt.pojo.AccoutInfoDto" >
    select a.id,
    a.user_id,
    b.user_code,
    b.name AS user_name,
    IFNULL(a.bonus_coin,0) bonus_coin,
    IFNULL(a.elect_coin,0) elect_coin,
    IFNULL(a.reconsmp_coin,0) reconsmp_coin,
    IFNULL(a.bonusact_sum,0) bonusact_sum,
    IFNULL(a.reconsmpact_sum,0) reconsmpact_sum,
    IFNULL(a.cash_coin,0) cash_coin,
    a.account_bank,
    a.account_bank_brc,
    a.account_id,
    a.account_name,
    a.comments
    from accout_info a
    join tb_user b on a.user_id = b.user_id
    where 1=1
    <if test="user_id != null" >
	 	and b.user_id = #{user_id,jdbcType=INTEGER}
	</if>
    <if test="user_code != null and user_code != '' " >
	 	and b.user_code = #{user_code,jdbcType=VARCHAR}
	</if>
  </select>
  
  <delete id="delete" parameterType="com.flyrui.financMgmt.pojo.AccoutInfoDto" >
    delete from info_serv_file
    <if test="_parameter != null" >
      <include refid="Base_Where_Clause" />
    </if>
  </delete>
  
  <insert id="insert" parameterType="com.flyrui.financMgmt.pojo.AccoutInfoDto" >
	 insert into `accout_info` ( 
		 `user_id`, 
		 `bonus_coin`, 
		 `elect_coin`, 
		 `reconsmp_coin`, 
		 `account_bank`, 
		 `account_id`, 
		 `account_name`, 
		 `comments`,
		 `account_bank_brc`,
		 `cash_coin`) 
	 values(
	 	#{user_id,jdbcType=INTEGER},
	 	#{bonus_coin,jdbcType=DOUBLE},
	 	#{elect_coin,jdbcType=DOUBLE},
	 	#{reconsmp_coin,jdbcType=DOUBLE},
	 	#{account_bank,jdbcType=VARCHAR},
	 	#{account_id,jdbcType=VARCHAR},
	 	#{account_name,jdbcType=VARCHAR},
	 	#{comments,jdbcType=VARCHAR},
	 	#{account_bank_brc,jdbcType=VARCHAR},
	 	#{cash_coin,jdbcType=DOUBLE}
	 )
  </insert>
  
  <update id="update" parameterType="com.flyrui.financMgmt.pojo.AccoutInfoDto">
    update accout_info
    set
   		<if test="bonus_coin != null  and bonus_coin != '' " >
      		bonus_coin = IFNULL(bonus_coin,0)+#{bonus_coin,jdbcType=DOUBLE},
   		</if>
   		<if test="elect_coin != null  and elect_coin != '' " >
      		elect_coin = IFNULL(elect_coin,0)+#{elect_coin,jdbcType=DOUBLE},
   		</if>
   		<if test="reconsmp_coin != null  and reconsmp_coin != '' " >
      		reconsmp_coin = IFNULL(reconsmp_coin,0)+#{reconsmp_coin,jdbcType=VARCHAR},
   		</if>
   		<if test="account_bank != null  and account_bank != '' " >
      		account_bank = #{account_bank,jdbcType=VARCHAR},
   		</if>
   		<if test="account_bank_brc != null  and account_bank_brc != '' " >
      		account_bank_brc = #{account_bank_brc,jdbcType=VARCHAR},
   		</if>
   		<if test="account_id != null  and account_id != '' " >
      		account_id = #{account_id,jdbcType=VARCHAR},
   		</if>
   		<if test="account_name != null  and account_name != '' " >
      		account_name = #{account_name,jdbcType=VARCHAR},
   		</if>
   		<if test="cash_coin != null  and cash_coin != '' " >
      		cash_coin = IFNULL(cash_coin,0)+#{cash_coin,jdbcType=DOUBLE},
   		</if>
   		comments = ''
    where user_id = #{user_id,jdbcType=INTEGER}
  </update>
  
   <delete id="deleteByUserId" parameterType="com.flyrui.financMgmt.pojo.AccoutInfoDto" >
    delete from accout_info
   	where user_id = #{user_id,jdbcType=INTEGER}
  </delete>
  
  <select id="selectByUserIdForUpdate" resultMap="BaseResultMap" parameterType="com.flyrui.financMgmt.pojo.AccoutInfoDto" >
    select id,user_id,bonus_coin,elect_coin,reconsmp_coin,account_bank,account_id,account_name,comments,cash_coin
    from accout_info
    where user_id = #{user_id,jdbcType=INTEGER} for update
  </select>
</mapper>