<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.flyrui.financMgmt.dao.mapper.CoinTrackMapper" >
  <resultMap id="BaseResultMap" type="com.flyrui.financMgmt.pojo.CoinTrackDto" >
    	<result column="id" property="id" jdbcType="INTEGER" />
    	<result column="user_id" property="user_id" jdbcType="INTEGER" />
    	<result column="coin_type" property="coin_type" jdbcType="INTEGER" />
    	<result column="coin_num" property="coin_num" jdbcType="DOUBLE" />
    	<result column="create_type" property="create_type" jdbcType="INTEGER" />
    	<result column="create_type_name" property="create_type_name" jdbcType="VARCHAR" />
    	<result column="oper_user_id" property="oper_user_id" jdbcType="INTEGER" />
    	<result column="oper_user_name" property="oper_user_name" jdbcType="VARCHAR" />
    	<result column="order_id" property="order_id" jdbcType="INTEGER" />
    	<result column="create_time" property="create_time" jdbcType="TIMESTAMP" />
    	<result column="comments" property="comments" jdbcType="VARCHAR" />
    	<result column="file_info" property="file_info" jdbcType="VARCHAR" />
    	<result column="start_time" property="start_time" jdbcType="VARCHAR" />
    	<result column="end_time" property="end_time" jdbcType="VARCHAR" />
    	<result column="oper_time" property="oper_time" jdbcType="TIMESTAMP" />
    	<result column="counter_num" property="counter_num" jdbcType="DOUBLE" />
    	<result column="act_num" property="act_num" jdbcType="DOUBLE" />
    	<result column="serial_num" property="serial_num" jdbcType="VARCHAR" />
    	<result column="apply_state" property="apply_state" jdbcType="VARCHAR" />
    	<result column="account_bank" property="account_bank" jdbcType="VARCHAR" />
    	<result column="account_id" property="account_id" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="BonusActResultMap" type="com.flyrui.financMgmt.pojo.BonusActDto" >
  		<result column="create_time" property="create_time" jdbcType="TIMESTAMP" />
  		<result column="gg_fee" property="gg_fee" jdbcType="DOUBLE" />
  		<result column="fd_fee" property="fd_fee" jdbcType="DOUBLE" />
  		<result column="re_fee" property="re_fee" jdbcType="DOUBLE" />
  		<result column="act_fee" property="act_fee" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    	id,
    	rela_id,
    	rela_type,
    	file_id,
    	state,
    	create_date
  </sql>
  <sql id="Base_Where_Clause" >
    <where >
	    	<if test="id != null  and id != '' " >
        		and id = #{id,jdbcType=VARCHAR}
     		</if>
	    	<if test="rela_id != null  and rela_id != '' " >
        		and rela_id = #{rela_id,jdbcType=VARCHAR}
     		</if>
	    	<if test="rela_type != null  and rela_type != '' " >
        		and rela_type = #{rela_type,jdbcType=VARCHAR}
     		</if>
	    	<if test="file_id != null  and file_id != '' " >
        		and file_id = #{file_id,jdbcType=VARCHAR}
     		</if>
	    	<if test="state != null  and state != '' " >
        		and state = #{state,jdbcType=VARCHAR}
     		</if>
	    	<if test="create_date != null " >
        		and create_date = #{create_date,jdbcType=TIMESTAMP}
     		</if>
    </where>
  </sql>
  <select id="selectAccountFlow" resultMap="BaseResultMap" parameterType="com.flyrui.financMgmt.pojo.CoinTrackDto" >
    SELECT
    a.id,
    a.user_id,
	b.user_code,
	b.name AS user_name,
	a.order_id,
	(SELECT idt.`dict_desc` FROM info_dict idt WHERE idt.dict_type='coinType' AND idt.`dict_value` = a.coin_type) AS coin_type_name,
	a.coin_type,
	(SELECT idt.`dict_desc` FROM info_dict idt WHERE idt.dict_type='coinCreateType' AND idt.`dict_value` = a.create_type) AS create_type_name,
	a.create_type,
	a.coin_num,
	(SELECT c.name FROM tb_user c WHERE c.user_id = a.oper_user_id) AS oper_user_name,
	a.create_time
	FROM coin_track a
	JOIN tb_user b ON a.`user_id` = b.`user_id` AND b.state=1 AND b.bus_state=1
	WHERE 1=1
	<if test="user_code != null  and user_code != '' " >
    	and b.user_code = #{user_code,jdbcType=VARCHAR}
 	</if>
 	<if test="user_name !=null and user_name != '' ">
    	and b.name like #{user_name,jdbcType=VARCHAR}
    </if>
    <if test="coin_type != null  and coin_type != '' " >
    	and a.coin_type = #{coin_type,jdbcType=INTEGER}
 	</if>
    order by a.order_id desc
  </select>
  <select id="selectRec" resultMap="BaseResultMap" parameterType="com.flyrui.financMgmt.pojo.CoinTrackDto" >
    SELECT
    a.id,  
	b.user_code,
	b.name AS user_name,
	a.coin_num,
	a.create_time,
	(SELECT c.name FROM tb_user c WHERE c.user_id = a.oper_user_id) AS oper_user_name,
	a.file_info
	FROM coin_track a
	JOIN tb_user b ON a.`user_id` = b.`user_id` AND b.state=1 AND b.bus_state=1
	WHERE a.`coin_type` = 2
	AND a.`create_type` = 4
	<if test="user_code != null  and user_code != '' " >
    	and b.user_code = #{user_code,jdbcType=VARCHAR}
 	</if>
 	<if test="start_time !=null and start_time != '' ">
    	and a.create_time &gt;= str_to_date(#{start_time,jdbcType=VARCHAR} '00:00:00','%Y-%m-%d %H:%i:%s')
    </if>
    <if test="end_time !=null and end_time != '' ">
    	and a.create_time &lt;= str_to_date(#{end_time,jdbcType=VARCHAR} '23:59:59','%Y-%m-%d %H:%i:%s')
    </if>
    order by a.create_time desc
  </select>
  <select id="selectExtConf" resultMap="BaseResultMap" parameterType="com.flyrui.financMgmt.pojo.CoinTrackDto" >
    SELECT
    c.account_bank,
    c.account_id,
    a.id,
    a.user_id,  
	b.user_code,
	b.name AS user_name,
	a.create_time,
	ABS(a.coin_num) coin_num,
	a.counter_num,
	a.act_num,
	CASE apply_state WHEN 1 THEN '已打款' WHEN 0 THEN '未打款' END AS apply_state,
	a.serial_num
	FROM coin_track a
	JOIN tb_user b ON a.`user_id` = b.`user_id` AND b.state=1 AND b.bus_state=1
	join accout_info c on a.`user_id` = c.`user_id`
	WHERE a.`coin_type` = 1
	AND a.`create_type` = 3
	<if test="user_code != null  and user_code != '' " >
    	and b.user_code = #{user_code,jdbcType=VARCHAR}
 	</if>
 	<if test="start_time !=null and start_time != '' ">
    	and a.create_time &gt;= str_to_date(#{start_time,jdbcType=VARCHAR} '00:00:00','%Y-%m-%d %H:%i:%s')
    </if>
    <if test="end_time !=null and end_time != '' ">
    	and a.create_time &lt;= str_to_date(#{end_time,jdbcType=VARCHAR} '23:59:59','%Y-%m-%d %H:%i:%s')
    </if>
    <if test="apply_state !=null and apply_state != '' ">
    	and a.apply_state = #{apply_state,jdbcType=VARCHAR}
    </if>
    order by a.create_time desc
  </select>
  
  <select id="selectBonusAct" resultMap="BonusActResultMap" parameterType="com.flyrui.financMgmt.pojo.CoinTrackDto" >
    SELECT t.create_time,t.gg_fee,t.fd_fee,t.re_fee,(t.gg_fee+t.fd_fee-t.re_fee) act_fee
	FROM (
	SELECT
	(SELECT MAX(create_time) FROM coin_track t WHERE a.order_id = t.order_id) create_time,
	(SELECT IFNULL(SUM(coin_num),0) FROM coin_track g WHERE a.order_id = g.order_id AND g.create_type='1') gg_fee,
	(SELECT IFNULL(SUM(coin_num),0) FROM coin_track f WHERE a.order_id = f.order_id AND f.create_type='2') fd_fee,
	(SELECT IFNULL(SUM(coin_num),0) FROM coin_track r WHERE a.order_id = r.order_id AND r.create_type='8') re_fee
	FROM coin_track a
	JOIN tb_user b ON a.`user_id` = b.`user_id` AND b.`state` = 1 AND b.`bus_state` = 1 
	WHERE a.coin_type IN(1,3)
	AND a.coin_num>0
	AND a.user_id = #{user_id,jdbcType=INTEGER}
	GROUP BY a.order_id
	ORDER BY a.`order_id` DESC) t
  </select>
  
  <select id="selectBonusInfo" resultMap="BaseResultMap" parameterType="com.flyrui.financMgmt.pojo.CoinTrackDto" >
    SELECT
	a.create_time,
	a.coin_num,
	CASE a.create_type WHEN 1 THEN '广告费' WHEN 2 THEN '辅导奖' WHEN 3 THEN '提现' WHEN 6 THEN '转电子币' END AS create_type_name
	FROM coin_track a
	JOIN tb_user b ON a.`user_id` = b.`user_id` AND b.state=1 AND b.bus_state=1
	WHERE a.`coin_type` = 1
	AND a.user_id = #{user_id,jdbcType=INTEGER}
	ORDER BY a.`create_time` DESC
  </select>
  
  <select id="selectElectInfo" resultMap="BaseResultMap" parameterType="com.flyrui.financMgmt.pojo.CoinTrackDto" >
    SELECT
	a.create_time,
	a.coin_num,
	CASE a.create_type WHEN 4 THEN '充值' WHEN 5 THEN '互转' WHEN 6 THEN '转电子币' WHEN 7 THEN '购物' WHEN 9 THEN '报单' END AS create_type_name,
	a.comments
	FROM coin_track a
	JOIN tb_user b ON a.`user_id` = b.`user_id` AND b.state=1 AND b.bus_state=1
	WHERE a.`coin_type` = 2
	AND a.user_id = #{user_id,jdbcType=INTEGER}
	ORDER BY a.`create_time` DESC
  </select>
  
  <delete id="delete" parameterType="com.flyrui.financMgmt.pojo.CoinTrackDto" >
    delete from info_serv_file
    <if test="_parameter != null" >
      <include refid="Base_Where_Clause" />
    </if>
  </delete>
  
  <insert id="insert" parameterType="com.flyrui.financMgmt.pojo.CoinTrackDto" >
	INSERT INTO `coin_track` (
		`user_id`, 
		`coin_type`,
		`coin_num`, 
		`create_type`,
		`oper_user_id`,
		`order_id`,
		`comments`, 
		`file_info`,
		`counter_num`,
		`act_num`,
		`serial_num`,
		`apply_state`
		) 
	VALUES(
		#{user_id,jdbcType=INTEGER},
		#{coin_type,jdbcType=INTEGER},
		#{coin_num,jdbcType=DOUBLE},
		#{create_type,jdbcType=INTEGER},
		#{oper_user_id,jdbcType=INTEGER},
		#{order_id,jdbcType=INTEGER},
		#{comments,jdbcType=VARCHAR},
		#{file_info,jdbcType=VARCHAR},
		#{counter_num,jdbcType=VARCHAR},
		#{act_num,jdbcType=VARCHAR},
		#{serial_num,jdbcType=VARCHAR},
		#{apply_state,jdbcType=VARCHAR}
	)
  </insert>
  
  <update id="update" parameterType="com.flyrui.financMgmt.pojo.CoinTrackDto">
    update coin_track
    set
   		<if test="serial_num != null  and serial_num != '' " >
      		serial_num = #{serial_num,jdbcType=VARCHAR},
   		</if>
   		<if test="apply_state != null  and apply_state != '' " >
      		apply_state = #{apply_state,jdbcType=VARCHAR},
   		</if>
   		column1 = ''
    where 1=1
    	<if test="id != null  and id != '' " >
      		and id = #{id,jdbcType=INTEGER}
   		</if>
   		<if test="user_id != null  and user_id != '' " >
      		and user_id = #{user_id,jdbcType=INTEGER}
   		</if>
  </update>
  
  <select id="getBonusActSum" resultType="hashmap" parameterType="com.flyrui.financMgmt.pojo.CoinTrackDto" >
		select IFNULL(bonusact_sum,0) as bonusActSum, 
		IFNULL(reconsmpact_sum,0) as reconsmpActSum,
		(IFNULL(bonusact_sum,0)-IFNULL(reconsmpact_sum,0)) AS actSum
		from accout_info 
		where user_id = #{user_id,jdbcType=INTEGER}
  </select>
</mapper>