<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.flyrui.dao.pojo.sys.tb_user" >
  <resultMap id="BaseResultMap" type="com.flyrui.dao.pojo.sys.TbUser" >
    <result column="user_id" property="user_id" jdbcType="VARCHAR" />
    <result column="user_code" property="user_code" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="mail" property="mail" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="org_id" property="org_id" jdbcType="INTEGER" />
    <result column="register_date" property="register_date" jdbcType="TIMESTAMP" />
    <result column="register_ip" property="register_ip" jdbcType="VARCHAR" />
    <result column="last_login_time" property="last_login_time" jdbcType="TIMESTAMP" />
    <result column="last_login_ip" property="last_login_ip" jdbcType="VARCHAR" />
    <result column="login_count" property="login_count" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="bank_account" property="bank_account" jdbcType="VARCHAR" />
    <result column="id_card" property="id_card" jdbcType="VARCHAR" />
    <result column="position_level" property="position_level" jdbcType="VARCHAR" />
    <result column="cas_account" property="cas_account" jdbcType="VARCHAR" />
    <result column="user_phone" property="user_phone" jdbcType="VARCHAR" />
   	<result column="trans_pwd" property="trans_pwd" jdbcType="VARCHAR" />
   	<result column="pid" property="pid" jdbcType="INTEGER" />
   	<result column="cert_type" property="cert_type" jdbcType="VARCHAR" />
   	<result column="user_level" property="user_level" jdbcType="INTEGER" />
   	<result column="cert_id" property="cert_id" jdbcType="VARCHAR" />
   	<result column="bus_state" property="bus_state" jdbcType="INTEGER" />
   	<result column="create_time" property="create_time" jdbcType="TIMESTAMP" />
   	<result column="register_id" property="register_id" jdbcType="INTEGER" />
   	<result column="act_time" property="act_time" jdbcType="TIMESTAMP" />
   	<result column="allchild_num" property="allchild_num" jdbcType="INTEGER" />
   	<result column="head_img" property="head_img" jdbcType="VARCHAR" />
   	<result column="user_type" property="user_type" jdbcType="VARCHAR" />
   	<result column="shareout_qua" property="shareout_qua" jdbcType="VARCHAR" />
   	<result column="allorder_num" property="allorder_num" jdbcType="INTEGER" />
   	<result column="current_goodsSum" property="current_goodsSum" jdbcType="VARCHAR" />
   	<result column="pre_goodsSum" property="pre_goodsSum" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.flyrui.dao.pojo.sys.TbUser" useGeneratedKeys="true" keyProperty="user_id">
    insert into tb_user ( user_code, name, 
      password, sex, mail, 
      phone, org_id, register_date, 
      register_ip, last_login_time, last_login_ip, 
      login_count, state,bank_account,id_card,position_level,cas_account,user_phone,trans_pwd,pid,cert_type,user_level,cert_id,bus_state,create_time,register_id,act_time,allchild_num,
      head_img,user_type,shareout_qua,allorder_num)
    values (#{user_code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{mail,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{org_id,jdbcType=INTEGER}, #{register_date,jdbcType=TIMESTAMP}, 
      #{register_ip,jdbcType=VARCHAR}, #{last_login_time,jdbcType=TIMESTAMP}, #{last_login_ip,jdbcType=VARCHAR}, 
      #{login_count,jdbcType=INTEGER}, #{state,jdbcType=VARCHAR}, #{bank_account,jdbcType=VARCHAR}, #{id_card,jdbcType=VARCHAR}, #{position_level,jdbcType=VARCHAR},#{cas_account,jdbcType=VARCHAR},
      #{user_phone,jdbcType=VARCHAR},#{trans_pwd,jdbcType=VARCHAR},#{pid,jdbcType=INTEGER},#{cert_type,jdbcType=VARCHAR},#{user_level,jdbcType=INTEGER},#{cert_id,jdbcType=VARCHAR},#{bus_state,jdbcType=INTEGER},#{create_time,jdbcType=TIMESTAMP},#{register_id,jdbcType=INTEGER},#{act_time,jdbcType=TIMESTAMP},#{allchild_num,jdbcType=INTEGER},
      #{head_img,jdbcType=VARCHAR},#{user_type,jdbcType=VARCHAR},#{shareout_qua,jdbcType=VARCHAR},#{allorder_num,jdbcType=INTEGER})
  </insert>
  <insert id="batchInsert" parameterType="java.util.List" >	 
    insert into tb_user ( user_code, name, 
      password, sex, mail, 
      phone, org_id, register_date, 
      register_ip, last_login_time, last_login_ip, 
      login_count, state,bank_account,id_card,position_level,cas_account,user_phone,trans_pwd,pid,cert_type,user_level,cert_id,bus_state,create_time,register_id,act_time,allchild_num,
      head_img,user_type,shareout_qua,allorder_num)
     values 
     <foreach collection="list" item="item" index="index" separator="," >
      (#{item.user_code,jdbcType=VARCHAR}, #{item.name,jdbcType=VARCHAR}, 
      	#{item.password,jdbcType=VARCHAR}, #{item.sex,jdbcType=VARCHAR}, #{item.mail,jdbcType=VARCHAR}, 
      	#{item.phone,jdbcType=VARCHAR}, #{item.org_id,jdbcType=INTEGER}, #{item.register_date,jdbcType=TIMESTAMP}, 
      	#{item.register_ip,jdbcType=VARCHAR}, #{item.last_login_time,jdbcType=TIMESTAMP}, #{item.last_login_ip,jdbcType=VARCHAR}, 
      	#{item.login_count,jdbcType=INTEGER}, #{item.state,jdbcType=VARCHAR}, #{item.bank_account,jdbcType=VARCHAR}, #{item.id_card,jdbcType=VARCHAR}, #{item.position_level,jdbcType=VARCHAR},
      	#{cas_account,jdbcType=VARCHAR},#{user_phone,jdbcType=VARCHAR},#{trans_pwd,jdbcType=VARCHAR},#{pid,jdbcType=INTEGER},#{cert_type,jdbcType=VARCHAR},#{user_level,jdbcType=INTEGER},#{cert_id,jdbcType=VARCHAR},#{bus_state,jdbcType=INTEGER},#{create_time,jdbcType=TIMESTAMP},#{register_id,jdbcType=INTEGER},#{act_time,jdbcType=TIMESTAMP},#{allchild_num,jdbcType=INTEGER},
      	#{head_img,jdbcType=VARCHAR},#{user_type,jdbcType=VARCHAR},#{shareout_qua,jdbcType=VARCHAR},#{allorder_num,jdbcType=INTEGER})  
    </foreach>
  </insert>
  <update id="update" parameterType="com.flyrui.dao.pojo.sys.TbUser" >
     update tb_user set 
        <if test="user_code != null and user_code !='' ">
        	user_code = #{user_code,jdbcType=VARCHAR}, 
        </if>
        <if test="name != null and name !='' ">
          	name = #{name,jdbcType=VARCHAR}, 
        </if>
    	
    	<if test="password != null and password !='' ">
    		password = #{password,jdbcType=VARCHAR}, 
    	</if>  
    	<if test="sex != null and sex !='' ">    	
      		sex = #{sex,jdbcType=VARCHAR}, 
      	</if>
      	<if test="mail != null and mail !='' ">    	
      		mail = #{mail,jdbcType=VARCHAR}, 
      	</if>
      	<if test="phone != null and phone !='' ">    	
      		phone = #{phone,jdbcType=VARCHAR}, 
      	</if>      	 
      	<if test="org_id != null and org_id !='' ">
    		org_id = #{org_id,jdbcType=INTEGER},  
    	</if>  
    	<if test="state != null and state !='' ">    	
      		state = #{state,jdbcType=VARCHAR}, 
      	</if>  
      	<if test="bank_account != null and bank_account !='' ">    	
      		bank_account = #{bank_account,jdbcType=VARCHAR}, 
      	</if> 
      	<if test="id_card != null and id_card !='' ">    	
      		id_card = #{id_card,jdbcType=VARCHAR}, 
      	</if> 
      	<if test="position_level != null and position_level !='' ">    	
      		position_level = #{position_level,jdbcType=VARCHAR}, 
      	</if> 
      	<if test="cas_account != null  and cas_account != '' " >
      		cas_account = #{cas_account,jdbcType=VARCHAR},
   		</if>
   		<if test="user_phone != null  and user_phone != '' " >
      		user_phone = #{user_phone,jdbcType=VARCHAR},
   		</if>
   		<if test="trans_pwd != null  and trans_pwd != '' " >
      		trans_pwd = #{trans_pwd,jdbcType=VARCHAR},
   		</if>
   		<if test="pid != null  and pid != '' " >
      		pid = #{pid,jdbcType=INTEGER},
   		</if>
   		<if test="cert_type != null  and cert_type != '' " >
      		cert_type = #{cert_type,jdbcType=VARCHAR},
   		</if>
   		<if test="user_level != null  and user_level != '' " >
      		user_level = #{user_level,jdbcType=INTEGER},
   		</if>
   		<if test="cert_id != null  and cert_id != '' " >
      		cert_id = #{cert_id,jdbcType=VARCHAR},
   		</if>
   		<if test="bus_state != null  and bus_state != '' " >
      		bus_state = #{bus_state,jdbcType=INTEGER},
   		</if>
   		<if test="create_time != null " >
      		create_time = #{create_time,jdbcType=TIMESTAMP},
   		</if>
   		<if test="register_id != null  and register_id != '' " >
      		register_id = #{register_id,jdbcType=INTEGER},
   		</if>
   		<if test="act_time != null " >
      		act_time = #{act_time,jdbcType=TIMESTAMP},
   		</if>
   		<if test="allchild_num != null  and allchild_num != '' " >
      		allchild_num = #{allchild_num,jdbcType=INTEGER},
   		</if>
   		<if test="head_img != null  and head_img != '' " >
      		head_img = #{head_img,jdbcType=VARCHAR},
   		</if>
   		<if test="user_type != null  and user_type != '' " >
      		user_type = #{user_type,jdbcType=VARCHAR},
   		</if>
   		<if test="shareout_qua != null  and shareout_qua != '' " >
      		shareout_qua = #{shareout_qua,jdbcType=VARCHAR},
   		</if>
   		<if test="allorder_num != null  and allorder_num != '' " >
      		allorder_num = #{allorder_num,jdbcType=INTEGER},
   		</if>
   		user_id = #{user_id,jdbcType=VARCHAR}
      where user_id = #{user_id,jdbcType=VARCHAR}
  </update>
  <select id="select" parameterType="com.flyrui.dao.pojo.sys.TbUser"  resultType="User">
     <!--  <bind name="nameLike" value="'%' + _parameter.getName() + '%'" /> -->
  	 select a.user_id, a.user_code, a.name,a.password, a.sex, a.mail,
  	 		a.phone, a.org_id, a.register_date,a.register_ip, 
  	 		a.last_login_time, a.last_login_ip,a.login_count, a.state,
  	 		b.org_code,b.org_name,a.bank_account,a.id_card,a.position_level,
  	 		a.cas_account,a.user_phone,a.trans_pwd,pid,a.cert_type,a.user_level,a.cert_id,a.bus_state,a.create_time,a.register_id,a.act_time,a.allchild_num,a.head_img,a.user_type,a.shareout_qua,IFNULL(a.allorder_num,0) as allorder_num,
  	 		IFNULL((SELECT IFNULL(goodsSum,0) FROM user_month_goods WHERE user_id = a.user_id AND months = DATE_FORMAT(NOW(),'%Y%m')),0) as current_goodsSum,
  	 		IFNULL((SELECT IFNULL(smallMarket,0) FROM user_month_goods WHERE user_id = a.user_id AND months = DATE_FORMAT(NOW(),'%Y%m')),0) as current_smallMarket,
  	 		IFNULL((SELECT IFNULL(goodsSum,0) FROM user_month_goods WHERE user_id = a.user_id AND months = DATE_FORMAT(DATE_SUB(NOW(),INTERVAL 1 MONTH),'%Y%m')),0) as pre_goodsSum,
  	 		IFNULL((SELECT IFNULL(smallMarket,0) FROM user_month_goods WHERE user_id = a.user_id AND months = DATE_FORMAT(DATE_SUB(NOW(),INTERVAL 1 MONTH),'%Y%m')),0) as pre_smallMarket
      	from tb_user a left join tb_organation b on a.org_id = b.org_id 
     where  1=1
     <if test="user_id !=null and user_id != ''">
     	and a.user_id = #{user_id,jdbcType=VARCHAR} 
     </if>
     <if test="state !=null and state != '' and state != '-1'">
     	and a.state = #{state,jdbcType=VARCHAR}
     </if>
     <if test="org_id !=null and org_id !='' ">
     	and a.org_id = #{org_id,jdbcType=VARCHAR}
     </if> 
     <if test="name !=null and name !='' ">
     	and a.name like #{name,jdbcType=VARCHAR}
     </if> 
     <if test="user_code !=null and user_code !='' ">
     	and user_code = #{user_code,jdbcType=VARCHAR}
     </if>  
     <if test="bank_account !=null and bank_account !='' ">
     	and bank_account = #{bank_account,jdbcType=VARCHAR}
     </if> 
     <if test="cas_account != null  and cas_account != '' " >
        		and cas_account = #{cas_account,jdbcType=VARCHAR}
  	 </if>
  	<if test="user_phone != null  and user_phone != '' " >
     		and user_phone = #{user_phone,jdbcType=VARCHAR}
  		</if>
  	<if test="trans_pwd != null  and trans_pwd != '' " >
     		and trans_pwd = #{trans_pwd,jdbcType=VARCHAR}
  		</if>
  	<if test="pid != null  and pid != '' " >
     		and pid = #{pid,jdbcType=INTEGER}
  		</if>
  	<if test="cert_type != null  and cert_type != '' " >
     		and cert_type = #{cert_type,jdbcType=VARCHAR}
  		</if>
  	<if test="user_level != null  and user_level != '' " >
     		and user_level = #{user_level,jdbcType=INTEGER}
  		</if>
  	<if test="cert_id != null  and cert_id != '' " >
     		and cert_id = #{cert_id,jdbcType=VARCHAR}
  		</if>
  	<if test="bus_state != null" >
     		and bus_state = #{bus_state,jdbcType=INTEGER}
  		</if>
  	<if test="create_time != null " >
     		and create_time = #{create_time,jdbcType=TIMESTAMP}
  		</if>
  	<if test="register_id != null  and register_id != '' " >
     		and register_id = #{register_id,jdbcType=INTEGER}
  		</if>
  	<if test="act_time != null " >
     		and act_time = #{act_time,jdbcType=TIMESTAMP}
  		</if>
  	<if test="allchild_num != null  and allchild_num != '' " >
     		and allchild_num = #{allchild_num,jdbcType=INTEGER}
  	</if>
  	<if test="head_img != null  and head_img != '' " >
      		head_img = #{head_img,jdbcType=VARCHAR}
	</if>
	<if test="user_type != null  and user_type != '' " >
  			and user_type = #{user_type,jdbcType=VARCHAR}
	</if>
	<if test="shareout_qua != null  and shareout_qua != '' " >
  			and shareout_qua = #{shareout_qua,jdbcType=VARCHAR}
	</if>
	<if test="allorder_num != null  and allorder_num != '' " >
  			and allorder_num = #{allorder_num,jdbcType=INTEGER}
	</if>
	<if test="notInChild != null  and notInChild != '' " >
  			and user_type not in('child')
	</if>
  </select>
  <update id="updateUserLoginInfo" parameterType="com.flyrui.dao.pojo.sys.TbUser">
  	 update tb_user 
  	   set last_login_ip = #{last_login_ip,jdbcType=VARCHAR},
  	    last_login_time = #{last_login_time,jdbcType=TIMESTAMP},
  	    login_count = #{login_count,jdbcType=INTEGER}
  	  where user_id = #{user_id,jdbcType=VARCHAR}
  </update>
   <delete id="delete" parameterType="com.flyrui.dao.pojo.sys.TbUser">
  	 delete from tb_user   	   
  	  where user_id = #{user_id,jdbcType=VARCHAR}
  </delete>
      <select id="selectForWaitActiveUser" parameterType="com.flyrui.dao.pojo.sys.TbUser"  resultType="User">
	SELECT b.* FROM tb_user a,tb_user b WHERE a.`user_id`=#{user_id,jdbcType=VARCHAR}  AND
	a.state='1' AND a.user_type='child' AND a.`pid` = b.`pid` AND
	b.`state`='0' and b.`bus_state` = '1' AND b.user_type='main'
	<if test="name !=null and name !='' ">
     	and b.name like #{name,jdbcType=VARCHAR}
     </if> 
      UNION
     SELECT a.* FROM tb_user a WHERE a.pid = #{user_id,jdbcType=VARCHAR} AND a.`state`='0' and a.`bus_state` = '1' AND a.user_type='main'
     <if test="name !=null and name !='' ">
     	and a.name like #{name,jdbcType=VARCHAR}
     </if> 
  </select>
  <select id="queryUserByIdState" parameterType="com.flyrui.dao.pojo.sys.TbUser"  resultType="User">
  	 select a.user_id, a.user_code, a.name,a.password, a.sex, a.mail,
  	 		a.phone, a.org_id, a.register_date,a.register_ip, 
  	 		a.last_login_time, a.last_login_ip,a.login_count, a.state,
  	 		b.org_code,b.org_name,a.bank_account,a.id_card,a.position_level,
      	from tb_user a left join tb_organation b on a.org_id = b.org_id where a.user_id = #{user_id,jdbcType=VARCHAR} and a.state = #{state,jdbcType=VARCHAR}
  </select>
   <select id="queryUserByCodeState" parameterType="com.flyrui.dao.pojo.sys.TbUser"  resultType="User">
  	 select a.user_id, a.user_code, a.name,a.password, a.sex, a.mail,
  	 		a.phone, a.org_id, a.register_date,a.register_ip, 
  	 		a.last_login_time, a.last_login_ip,a.login_count, a.state,
  	 		b.org_code,b.org_name,a.bank_account,a.id_card,a.position_level,
  	 		a.cas_account,a.user_phone,a.trans_pwd,a.pid,a.cert_type,a.user_level,a.cert_id,a.bus_state,a.create_time,a.register_id,a.act_time,a.allchild_num,a.head_img,a.user_type,a.shareout_qua,a.allorder_num
      	from tb_user a left join tb_organation b on a.org_id = b.org_id where a.user_code = #{user_code,jdbcType=VARCHAR} and a.bus_state = #{bus_state,jdbcType=VARCHAR} 
  </select>
  <insert id="saveUserRole" parameterType="hashMap" >
    insert into tb_user_role (user_id, role_id, create_date)
    values (#{user_id,jdbcType=VARCHAR}, #{role_id,jdbcType=INTEGER}, #{create_date,jdbcType=TIMESTAMP})
  </insert>  
  <delete id="deleteUserRole" parameterType="hashMap" >
    delete from tb_user_role 
    where user_id = #{user_id,jdbcType=VARCHAR}
    	 and role_id = #{role_id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteRolesByUser" parameterType="hashMap" >
    delete from tb_user_role 
    where user_id = #{user_id,jdbcType=VARCHAR}
  </delete>
  <update id="modifyPwd" parameterType="hashMap" >
    update tb_user set password = #{newPwd,jdbcType=VARCHAR}
    where user_id = #{user_id,jdbcType=VARCHAR} and password = #{oldPwd,jdbcType=VARCHAR}
  </update>
  <select id="queryUserByBankAccountState" parameterType="com.flyrui.dao.pojo.sys.TbUser"  resultType="User">
  	 select a.user_id, a.user_code, a.name,a.password, a.sex, a.mail,
  	 		a.phone, a.org_id, a.register_date,a.register_ip, 
  	 		a.last_login_time, a.last_login_ip,a.login_count, a.state,
  	 		b.org_code,b.org_name,a.bank_account,a.id_card,a.position_level,
  	 		a.cas_account,a.user_phone,a.trans_pwd,pid,a.cert_type,a.user_level,a.cert_id,a.bus_state,a.create_time,a.register_id,a.act_time,a.allchild_num,a.head_img,a.user_type,a.shareout_qua,a.allorder_num
      	from tb_user a left join tb_organation b on a.org_id = b.org_id where a.bank_account = #{bank_account,jdbcType=VARCHAR} and a.state = #{state,jdbcType=VARCHAR}
  </select>
  <select id="queryUserByCasAccountState" parameterType="com.flyrui.dao.pojo.sys.TbUser"  resultType="User">
  	 select a.user_id, a.user_code, a.name,a.password, a.sex, a.mail,
  	 		a.phone, a.org_id, a.register_date,a.register_ip, 
  	 		a.last_login_time, a.last_login_ip,a.login_count, a.state,
  	 		b.org_code,b.org_name,a.bank_account,a.id_card,a.position_level,a.cas_account,
  	 		a.cas_account,a.user_phone,a.trans_pwd,pid,a.cert_type,a.user_level,a.cert_id,a.bus_state,a.create_time,a.register_id,a.act_time,a.allchild_num,a.head_img,a.user_type,a.shareout_qua,a.allorder_num
      	from tb_user a left join tb_organation b on a.org_id = b.org_id where a.cas_account = #{cas_account,jdbcType=VARCHAR} and a.state = #{state,jdbcType=VARCHAR}
  </select>
  
   <select id="selectUserNetTree" parameterType="com.flyrui.dao.pojo.sys.TbUser"  resultType="User">
    
   SELECT a.*,b.`dict_name` as user_star_name FROM ( 
  	 select a.user_id, a.user_code, a.name,a.password, a.sex, a.mail,
  	 		a.phone, a.org_id, a.register_date,a.register_ip, 
  	 		a.last_login_time, a.last_login_ip,a.login_count, a.state,
  	 		b.org_code,b.org_name,a.bank_account,a.id_card,a.position_level,
  	 		a.cas_account,a.user_phone,a.trans_pwd,pid,a.cert_type,a.user_level,a.cert_id,a.bus_state,a.create_time,a.register_id,a.act_time,a.allchild_num,a.user_level AS user_star
      	from tb_user a left join tb_organation b on a.org_id = b.org_id 
     where  1=1
     <if test="user_id !=null and user_id != ''">
     	and a.user_id = #{user_id,jdbcType=VARCHAR} 
     </if>
     <if test="state !=null and state != '' and state != '-1'">
     	and a.state = #{state,jdbcType=VARCHAR}
     </if>
     <if test="org_id !=null and org_id !='' ">
     	and a.org_id = #{org_id,jdbcType=VARCHAR}
     </if> 
     <if test="name !=null and name !='' ">
     	and a.name like #{name,jdbcType=VARCHAR}
     </if> 
     <if test="user_code !=null and user_code !='' ">
     	and user_code = #{user_code,jdbcType=VARCHAR}
     </if>  
     <if test="bank_account !=null and bank_account !='' ">
     	and bank_account = #{bank_account,jdbcType=VARCHAR}
     </if> 
     <if test="cas_account != null  and cas_account != '' " >
        		and cas_account = #{cas_account,jdbcType=VARCHAR}
  	 </if>
  	<if test="user_phone != null  and user_phone != '' " >
     		and user_phone = #{user_phone,jdbcType=VARCHAR}
  		</if>
  	<if test="trans_pwd != null  and trans_pwd != '' " >
     		and trans_pwd = #{trans_pwd,jdbcType=VARCHAR}
  		</if>
  	<if test="pid != null  and pid != '' " >
     		and pid = #{pid,jdbcType=INTEGER}
  		</if>
  	<if test="cert_type != null  and cert_type != '' " >
     		and cert_type = #{cert_type,jdbcType=VARCHAR}
  		</if>
  	<if test="user_level != null  and user_level != '' " >
     		and user_level = #{user_level,jdbcType=INTEGER}
  		</if>
  	<if test="cert_id != null  and cert_id != '' " >
     		and cert_id = #{cert_id,jdbcType=VARCHAR}
  		</if>
  	<if test="bus_state != null  and bus_state != '' " >
     		and bus_state = #{bus_state,jdbcType=INTEGER}
  		</if>
  	<if test="create_time != null " >
     		and create_time = #{create_time,jdbcType=TIMESTAMP}
  		</if>
  	<if test="register_id != null  and register_id != '' " >
     		and register_id = #{register_id,jdbcType=INTEGER}
  		</if>
  	<if test="act_time != null " >
     		and act_time = #{act_time,jdbcType=TIMESTAMP}
  		</if>
  	<if test="allchild_num != null  and allchild_num != '' " >
     		and allchild_num = #{allchild_num,jdbcType=INTEGER}
  	</if> ) a LEFT JOIN info_dict b ON a.user_star = b.dict_code AND b.dict_type ='starRate' 
  	order by a.register_date asc
  </select>
 <parameterMap type="map" id="produreParam">  
   <parameter property="in_id" jdbcType="INTEGER" mode="IN"/>  
   <parameter property="login_userid" jdbcType="INTEGER" mode="IN"/> 
 </parameterMap>
 <update id="activeUser" parameterMap="produreParam" statementType="CALLABLE">  
   {call pro_user_settle(?, ?)}  
 </update>
 
 <parameterMap type="map" id="produreParam2">  
   <parameter property="inid" jdbcType="INTEGER" mode="IN"/>  
   <parameter property="cid" jdbcType="INTEGER" mode="OUT"/> 
 </parameterMap>
 <select id="getChildList" parameterMap="produreParam2" statementType="CALLABLE">  
   {call pro_get_childList(?, ?)}  
 </select>
  <select id="queryChildByIdAndCid"  parameterType="com.flyrui.sys.dto.UserChildDto" resultType="com.flyrui.sys.dto.UserChildDto">  
    select cid,id,nlevel from tb_user_childlist a  where cid = #{cid,jdbcType=INTEGER} and id = #{id,jdbcType=INTEGER}
 </select>
 <update id="delUserChild" parameterType="com.flyrui.sys.dto.UserChildDto">  
   delete from tb_user_childlist where cid = #{cid,jdbcType=INTEGER}
 </update>
  <select id="queryUserLevelShareout" resultType="hashmap" parameterType="hashmap">
 	SELECT c.cf_value,c.cf_desc ,IFNULL(a.total,0) total, IFNULL(b.usercount,0) usercount FROM  fr_config c 
   		LEFT JOIN pool_shareout a ON  a.ptype = c.`cf_desc` AND a.state='1' 
   		LEFT JOIN (SELECT user_level ,SUM(1) AS usercount FROM tb_user a WHERE state = '1' AND bus_state='1' AND  shareout_qua ='1' GROUP BY user_level) b ON a.ptype = b.user_level    
	WHERE  c.cf_module='zshopuserlevel' ORDER BY cf_desc
 </select>
 <select id="queryfrConfig" resultType="hashmap" parameterType="hashmap">
 	SELECT * FROM fr_config a WHERE a.`cf_id` like  concat('%',#{cf_id,jdbcType=VARCHAR},'%') 
 </select>
 <select id="queryUserMonthGoods" resultType="hashmap" parameterType="hashmap">
 	select user_id,months,goodsSum,smallMarket from user_month_goods where months = #{months,jdbcType=VARCHAR} and user_id = #{user_id,jdbcType=VARCHAR}
 </select>
  <parameterMap type="map" id="produreParam3">  
   <parameter property="child_userId" jdbcType="INTEGER" mode="IN"/>
   <parameter property="order_id" jdbcType="VARCHAR" mode="IN"/>  
   <parameter property="act_userId" jdbcType="INTEGER" mode="IN"/> 
 </parameterMap>
 <update id="pro_zshop_act" parameterMap="produreParam3" statementType="CALLABLE">  
   	{call pro_zshop_act(?, ?, ?)}  
 </update>
 <select id="queryUserGoodsOrder" resultType="hashmap" parameterType="hashmap">
 	SELECT IFNULL(SUM(goods_amount),0) as goodscount FROM goods_order a WHERE user_id = #{user_id,jdbcType=VARCHAR} AND a.catalog_id ='1' and a.state != '-1'
 	<if test="isChild != null  and isChild != '' " >
 		and state IN(1,2)
 		AND DATE_FORMAT(create_date,'%Y%m')=DATE_FORMAT(NOW(), '%Y%m')
 		AND goods_id!='201907052300000023'
 	</if>
 </select>
</mapper>