<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.flyrui.financMgmt.dao.mapper.UserRechargeMapper" >
  <resultMap id="BaseResultMap" type="com.flyrui.financMgmt.pojo.UserRechargeDto" >
  		<result column="rec_code" property="rec_code" jdbcType="VARCHAR" />
  		<result column="rec_bankname" property="rec_bankname" jdbcType="VARCHAR" />
  		<result column="rec_bankid" property="rec_bankid" jdbcType="VARCHAR" />
  		<result column="rec_num" property="rec_num" jdbcType="VARCHAR" />
  		<result column="rec_message" property="rec_message" jdbcType="VARCHAR" />
  		<result column="user_id" property="user_id" jdbcType="INTEGER" />
  		<result column="user_code" property="user_code" jdbcType="VARCHAR" />
  		<result column="user_name" property="user_name" jdbcType="VARCHAR" />
  		<result column="create_time" property="create_time" jdbcType="TIMESTAMP" />
  		<result column="state_name" property="state_name" jdbcType="VARCHAR" />
  		<result column="coin_num" property="coin_num" jdbcType="VARCHAR" />
  		<result column="rec_time" property="rec_time" jdbcType="TIMESTAMP" />
  		<result column="oper_user_name" property="oper_user_name" jdbcType="VARCHAR" />
  		<result column="start_time" property="coin_num" jdbcType="VARCHAR" />
  		<result column="end_time" property="coin_num" jdbcType="VARCHAR" />
  	
  </resultMap>
  <sql id="Base_Column_List" >
    	id,
    	rela_id,
    	rela_type,
    	file_id,
    	state,
    	create_date
  </sql>
  <sql id="Base_Where_Clause" >
    <where >
	    	<if test="id != null  and id != '' " >
        		and id = #{id,jdbcType=VARCHAR}
     		</if>
	    	<if test="rela_id != null  and rela_id != '' " >
        		and rela_id = #{rela_id,jdbcType=VARCHAR}
     		</if>
	    	<if test="rela_type != null  and rela_type != '' " >
        		and rela_type = #{rela_type,jdbcType=VARCHAR}
     		</if>
	    	<if test="file_id != null  and file_id != '' " >
        		and file_id = #{file_id,jdbcType=VARCHAR}
     		</if>
	    	<if test="state != null  and state != '' " >
        		and state = #{state,jdbcType=VARCHAR}
     		</if>
	    	<if test="create_date != null " >
        		and create_date = #{create_date,jdbcType=TIMESTAMP}
     		</if>
    </where>
  </sql>
  <select id="select" resultMap="BaseResultMap" parameterType="com.flyrui.financMgmt.pojo.UserRechargeDto" >
    SELECT 
    a.create_time, a.rec_bankname,a.rec_bankid,a.rec_num,a.rec_message,
    case a.state when 0 THEN '未充值' ELSE '已充值' END AS state_name ,a.rec_code,a.state
    FROM user_recharge a
    WHERE a.user_id = #{user_id,jdbcType=INTEGER}
  </select>
  
 <select id="selectRec" resultMap="BaseResultMap" parameterType="com.flyrui.financMgmt.pojo.UserRechargeDto" >
    SELECT
    a.rec_code,
    a.create_time,
    a.rec_bankname,a.rec_bankid,a.rec_num,a.rec_message,
    a.user_code,a.user_name,a.state,
    case a.state when 0 THEN '未充值' ELSE '已充值' END AS state_name,
    a.coin_num,
	a.rec_time,
	(SELECT c.name FROM tb_user c WHERE c.user_id = a.oper_user_id) AS oper_user_name
    FROM user_recharge a
    WHERE 1=1
	<if test="user_code != null  and user_code != '' " >
    	and a.user_code = #{user_code,jdbcType=VARCHAR}
 	</if>
 	<if test="start_time !=null and start_time != '' ">
    	and a.rec_time &gt;= str_to_date(#{start_time,jdbcType=VARCHAR} '00:00:00','%Y-%m-%d %H:%i:%s')
    </if>
    <if test="end_time !=null and end_time != '' ">
    	and a.rec_time &lt;= str_to_date(#{end_time,jdbcType=VARCHAR} '23:59:59','%Y-%m-%d %H:%i:%s')
    </if>
    <if test="state_name != null  and state_name != '' " >
    	AND a.state = #{state_name,jdbcType=VARCHAR}
 	</if>
 	<if test="rec_code != null  and rec_code != '' " >
    	and a.rec_code = #{rec_code,jdbcType=VARCHAR}
 	</if>
    order by a.create_time desc
  </select>
  
  <delete id="delete" parameterType="com.flyrui.financMgmt.pojo.AccoutInfoDto" >
    delete from info_serv_file
    <if test="_parameter != null" >
      <include refid="Base_Where_Clause" />
    </if>
  </delete>
  
  <insert id="insert" parameterType="com.flyrui.financMgmt.pojo.UserRechargeDto" >
	 insert into `user_recharge` 
	 (`rec_code`, 
	 `rec_bankname`, 
	 `rec_bankid`, 
	 `rec_num`, 
	 `rec_message`,
	 `user_id`, 
	 `user_code`, 
	 `user_name`,
	 `create_time`,
	 `state`) 
	 values(
	 #{rec_code,jdbcType=VARCHAR},
	 #{rec_bankname,jdbcType=VARCHAR},
	 #{rec_bankid,jdbcType=VARCHAR},
	 #{rec_num,jdbcType=VARCHAR},
	 #{rec_message,jdbcType=VARCHAR},
	 #{user_id,jdbcType=INTEGER},
	 #{user_code,jdbcType=VARCHAR},
	 #{user_name,jdbcType=VARCHAR},
	 now(),
	 #{state,jdbcType=INTEGER})
	 
  </insert>
  
  <update id="update" parameterType="com.flyrui.financMgmt.pojo.UserRechargeDto">
    update user_recharge
    set state = #{state,jdbcType=INTEGER},
    coin_num = #{coin_num,jdbcType=VARCHAR},
    rec_time = now(),
    oper_user_id = #{oper_user_id,jdbcType=INTEGER}
    where rec_code = #{rec_code,jdbcType=VARCHAR}
  </update>
  
   <delete id="deleteByUserId" parameterType="com.flyrui.financMgmt.pojo.AccoutInfoDto" >
    delete from accout_info
   	where user_id = #{user_id,jdbcType=INTEGER}
  </delete>
  
  <select id="selectByUserIdForUpdate" resultMap="BaseResultMap" parameterType="com.flyrui.financMgmt.pojo.AccoutInfoDto" >
    select id,user_id,bonus_coin,elect_coin,reconsmp_coin,account_bank,account_id,account_name,comments,cash_coin
    from accout_info
    where user_id = #{user_id,jdbcType=INTEGER} for update
  </select>
  
  <delete id="deleteUserChargeByRecCode" parameterType="com.flyrui.financMgmt.pojo.AccoutInfoDto" >
    delete from user_recharge
    where rec_code = #{rec_code,jdbcType=VARCHAR} and user_id = #{user_id,jdbcType=INTEGER}
  </delete>
</mapper>